<div class="portfolio-item {{ sv_class }}">
  <div class="portfolio-item-wrap">
    {{ content.field_case_images }}
    <a href="{{ url }}">
      <div class="portfolio-description text-light">
        <h3 class="portf-title">{{ node.title.value }}</h3>
        <div class="portf-services">{{ content.field_services }}</div>
      </div>
    </a>
  </div>
</div>
