{% set nav_classes = 'navbar navbar-expand-lg' ~
  (b4_navbar_schema != 'none' ? " navbar-#{b4_navbar_schema}" : ' ') ~
  (b4_navbar_schema != 'none' ? (b4_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b4_navbar_bg_schema != 'none' ? " bg-#{b4_navbar_bg_schema}" : ' ') %}

<header id="header" class="header-affix" data-spy="affix" data-offset-top="150">
  {% if page.header %}
    {{ page.header }}
  {% endif %}

  {% if page.nav_branding or page.nav_main or page.nav_additional %}
    <nav class="{{ nav_classes }}">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavBar" aria-controls="NavBar"
              aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger--nav">
          <div class="hamburger-inner"></div>
        </div>
      </button>

      <div class="{{ b4_top_container }} row mx-auto">

        <div class="col-auto p-0">
          {{ page.nav_branding }}
        </div>

        <div class="collapse navbar-collapse col-12 col-md-auto p-0 justify-content-end" id="NavBar">
          {{ page.nav_main }}
          {{ page.nav_additional }}
        </div>
      </div>
    </nav>
  {% endif %}
</header>

