{% set classes = [
  'comp-image-box-wrap',
  'effect',
  'block--type--' ~ paragraph.bundle|clean_class,
  'image-on-'~paragraph.field_image_position.value,
  paragraph.field_extra_class.value,
  view_mode ? 'block--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'block--unpublished',
] %}

{% block paragraph %}
  <div {{ attributes.addClass(classes) }} data-animate="fadeInUp">
    {% block content %}
      {% if paragraph.field_linked_content.0.url is not empty %}
        <a href="{{ paragraph.field_linked_content.0.url }}" class="comp-image-box-link">
      {% endif %}
      <div class="comp-image-box-image">
        <div class="image-inner">
          {% if paragraph.field_image is not empty %}
            <img src="{{ file_url(paragraph.field_image.entity.uri.value) }}"
                 alt="{{ content.field_image['#items'].alt }}">
          {% endif %}
        </div>
      </div>
      <div class="comp-image-box-text">

        {% if paragraph.field_block_title.value is not empty %}
          <h2>{{ paragraph.field_block_title.value }}</h2>
        {% endif %}

        {% if paragraph.field_description.value is not empty %}
          <div class="description">{{ paragraph.field_description.value|raw }}</div>
        {% endif %}

      </div>
      {% if paragraph.field_linked_content.0.url is not empty %}
        </a>
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
